* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100vh;
    background-color: #001f3f; /* dark blue */
    z-index: 1000;
}

.navbar > ul {
    list-style: none;
    font-size: large;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.link > a {
    text-decoration: none;
    color: white;
}

.hamburg {
    display: none;
}

@media (max-width: 650px) {
    body {
        flex-direction: column;
    }

    .navbar {
        position: static;
        width: 100%;
        height: auto;
    }

    .container {
        margin-left: 0;
        width: 100%;
        padding: 1rem;
    }

    .hamburg {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
}
