* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100vh;
    background-color: #0b0b0b;
    /* dark blue */
    z-index: 1000;
}

.navbar>ul {
    list-style: none;
    font-size: large;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.link>a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: x-large;
}
