* {
    padding: 0px;
    margin: 0px;
}

.conitener{
    background-color: blue;
    height: 100vh;
    width: 22vw;

    
}

.navbar > ul{
    list-style: none;
    font-size: large;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}

.link > a{
    text-decoration: none;
    color: white;
}

.hamburg{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;}

@media (max-width: 650px) {
    *{
        background-color: green;
        }
    .navbar > ul{
        transform: translate(-443px, 0px);
    }
    
}
